<div>
  <h1>{{title}}</h1>
  <input #task type="text" placeholder="add task" >
  <button type="button" (click)="addTask(task.value)" >Add</button>
  <div>
  <ul >
    <li *ngFor = "let task of filtered()" [style.text-decoration]="task.done ? 'line-through' : '' ">
      {{task.description}}
      {{task.id}}

      <button (click)="toggle(task)">
        Done
      </button>    </li>
  </ul>

  </div>
  <div>
    {{filter}}
    <button (click)="filterAll()">
      All
    </button>
    <button (click)="filterOpen()">
      Open
    </button>
    <button (click)="filterDone()">
      Done
    </button>

  </div>
</div>
